<div class="container mx-auto px-8 py-6">
   <h1 class="title mb-5">Todas as Propostas do Político</h1>
   <div class="promisses mt-[24px]">
      <mat-divider style="margin-top: 4px; margin-bottom: 8px;"></mat-divider>
      <div class="promise">
         <div class="p-4">
            <div class="flex items-start">
               <img src="https://via.placeholder.com/96" alt="Post Image" class="w-24 h-24 rounded-lg mr-4">
               <div class="flex flex-col gap-2">
                  <div class="flex flex-col">
                     <div class="promise-title">
                        <p class="text-[18px] font-[600]">Fortalecendo Comunidades e Investindo em Futuro Sustentável
                        </p>
                     </div>
                     <div class="promise-area">
                        <p class="text-[16px] font-[500]">Área: Fundo Social</p>
                     </div>
                  </div>
                  <p class="text-sm text-gray-800 mb-4">
                     A proposta "Fundo Social: Fortalecendo Comunidades e Investindo em Futuro Sustentável" visa criar
                     um fundo dedicado ao desenvolvimento social, com foco em educação, saúde e infraestrutura
                     comunitária. A iniciativa busca promover a inclusão social e o crescimento sustentável em áreas
                     carentes.
                  </p>
               </div>
            </div>
            <div class="flex justify-between items-center border-b pb-2">
               <div class="flex items-center space-x-2">
                  <div>
                     <span class="text-sm text-gray-500">422 gosteis</span>
                  </div>
                  <small class="text-gray-500">•</small>
                  <div>
                     <span class="text-sm text-gray-500">18 não gosteis</span>
                  </div>
               </div>
               <div class="text-sm text-gray-500">
                  322 comentários
               </div>
            </div>
         </div>
      </div>
      <div class="promise">
         <div class="p-4">
            <div class="flex items-start">
               <img src="https://via.placeholder.com/96" alt="Post Image" class="w-24 h-24 rounded-lg mr-4">
               <div class="flex flex-col gap-2">
                  <div class="flex flex-col">
                     <div class="promise-title">
                        <p class="text-[18px] font-[600]">Garantindo Suporte e Inclusão para Todos
                        </p>
                     </div>
                     <div class="promise-area">
                        <p class="text-[16px] font-[500]">Área: Fundo Social</p>
                     </div>
                  </div>
                  <p class="text-sm text-gray-800 mb-4">
                     A proposta "Assistência Social: Garantindo Suporte e Inclusão para Todos" busca fortalecer os
                     serviços de assistência social, com ênfase em apoio a famílias em situação de vulnerabilidade. O
                     objetivo é promover a inclusão, a proteção e a qualidade de vida das comunidades mais necessitadas.
                  </p>
               </div>
            </div>
            <div class="flex justify-between items-center border-b pb-2">
               <div class="flex items-center space-x-2">
                  <div>
                     <span class="text-sm text-gray-500">485 gosteis</span>
                  </div>
                  <small class="text-gray-500">•</small>
                  <div>
                     <span class="text-sm text-gray-500">16 não gosteis</span>
                  </div>
               </div>
               <div class="text-sm text-gray-500">
                  358 comentários
               </div>
            </div>
         </div>
      </div>
   </div>
</div>