<div class="container mx-auto px-8 py-6">
   <h1 class="title mb-5">Todas as Propostas do Político</h1>
   <div class="promisses">
      <!-- <mat-divider style="margin-top: 4px; margin-bottom: 8px;"></mat-divider> -->
      @for (proposal of proposals; track proposal) {
         <div class="promise cursor-pointer" (click)="openViewProposalDialog(proposal)">
            <div class="p-4">
               <div class="flex items-start">
                  <img [src]="proposal?.image_url || 'https://via.placeholder.com/96'" alt="Post Image"
                     class="w-24 h-24 rounded-lg mr-4 object-cover object-center">
                  <div class="flex justify-between w-full">
                     <div class="flex flex-col gap-2">
                        <div class="flex flex-col">
                           <div class="promise-title">
                              <p class="text-[18px] font-[600]">{{proposal?.title}}
                              </p>
                           </div>
                           <div class="promise-area">
                              <p class="text-[16px] font-[500]">Área: {{proposal?.areas.name}}</p>
                           </div>
                        </div>
                        <p class="text-sm text-gray-800 mb-4">
                           {{proposal?.description}}
                        </p>
                     </div>
                     <h1 [ngClass]="{'working': proposal?.status === 'Em Andamento', 'finished': proposal?.status === 'Finalizada'}">{{proposal?.status}}</h1>
                  </div>
               </div>
            </div>
         </div>
      }
   </div>
</div>