.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionar sombra ao passar o mouse */
  transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E2E2E2;
}