// main {
//    background: linear-gradient(135deg, #2c3e50, #4c5c68);
//    padding: 2% 0;
//    height: 100vh;
//  }

//  .center {
//    width: 40%;
//    display: block;
//    margin: 0 auto;
//    background-color: #fff;
//    height: 100%;
//    border-radius: 3px;
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E2E2E2;
}