mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E2E2E2;
}

input[matInput] {
  font-size: 14px !important;
  color: #525160 !important;

  &::placeholder {
    color: #E2E2E2 !important;
  }
}