<div class="container mx-auto px-8 py-6">
   <div class="container-header flex justify-between items-center">
      <h1>Políticos</h1>
      <div class="flex justify-center items-center gap-1 cursor-pointer" (click)="showFilters = !showFilters">
         <mat-icon>filter_list</mat-icon>
         <span>Filtrar</span>
      </div>
   </div>
   @if (showFilters)
   {
   <div class="filters mt-2" [formGroup]="form">
      <div class="flex flex-wrap -mx-2 gap-3 md:gap-0">
         <div class="w-full md:w-8/12 px-2">
            <mat-label>Pesquisar</mat-label>
            <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
               <input matInput placeholder="Buscar pelo nome do político" formControlName="name">
            </mat-form-field>
         </div>
         <div class="w-full md:w-4/12 px-2">
            <mat-label>Partido</mat-label>
            <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
               <mat-select placeholder="Selecione um partido" formControlName="party_id">
                  @for(party of parties; track party){
                  <mat-option [value]="party.id">{{party.name}}</mat-option>
                  }
               </mat-select>
            </mat-form-field>
         </div>
      </div>

      <div class="flex flex-wrap -mx-2 mt-3 gap-3 md:gap-0">
         <div class="w-full md:w-4/12 px-2">
            <mat-label>Estado</mat-label>
            <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
               <mat-select [(ngModel)]="selectedStateId" placeholder="Selecione um estado"
                  (selectionChange)="onStateChange()" [ngModelOptions]="{standalone: true}">
                  @for(state of states; track state){
                  <mat-option [value]="state.id">{{state.name}} - {{state.uf}}</mat-option>
                  }
               </mat-select>
            </mat-form-field>
         </div>
         <div class="w-full md:w-4/12 px-2">
            <mat-label>Cidade</mat-label>
            <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
               <mat-select placeholder="Selecione uma cidade" [disabled]="selectedStateId == null"
                  formControlName="city_id">
                  @for(city of cities; track city){
                  <mat-option [value]="city.id">{{city.name}}</mat-option>
                  }
               </mat-select>
            </mat-form-field>
         </div>
         <div class="w-full md:w-4/12 px-2 mt-2 md:mt-0 flex items-end">
            <button mat-flat-button
               class="bg-[#315FA5] text-white w-full block mx-auto h-[56px] rounded-lg text-[16px] btn"
               (click)="applyFilter()">
               Filtrar
            </button>
         </div>
      </div>
   </div>
   }

   <div class="politicians mt-5">
      <div class="grid grid-cols-10 gap-4">
         @for(user of users; track user) {
         <div class="col-span-12 md:col-span-5 lg:col-span-2">
            <div class="card bg-white rounded-lg shadow cursor-pointer" (click)="openPoliticalPage(user)">
               <img
                  [src]="user.image_url"
                  alt="Placeholder Image" class="politician-image w-full h-[300px]">
               <div class="d-flex flex-column p-3 gap-2" style="height: 128px;">
                  <div>
                     <h2 class="text-[18px] font-bold">{{ user.name }}</h2>
                  </div>
                  <div class="pb-2">
                     <p class="text-[16px] text-gray-700">Presidente do Brasil</p>
                  </div>
                  <div>
                     <p class="text-[13px] text-gray-700">{{ user?.party?.name || 'Sem partido'}} - {{ user?.party?.acronym || 'Sem Sigla'}}</p>
                  </div>
               </div>
            </div>
         </div>
         }
      </div>
   </div>
</div>
