.title {
  font-size: 26px;
}

.politician-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

input[matInput] {
  &::placeholder {
    color: #646464 !important;
  }
}

.verify {
  position: absolute;
  padding: 8px;
  width: 48px;
  height: 48px;
  // font-size: 32px;
  // width: 36px;
  // height: 36px;
}