<main class="py-[3%] px-[3%]">
   <h1>Busque por um político</h1>

   <div class="politicans">
      <div class="flex">
         @for (user of users; track user) {
         <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHsfY5uRa0mM9CqTXnrtBk0K7YpdaFOSxV5EmWiMUUZVgMKmj22AcjboUuZUgKO8P4PnM&usqp=CAU" alt="">
            <div class="info">
               <h1>{{user.name}}</h1>
               <h2>{{user.role}}</h2>
               <button>Visualizar Perfil</button>
            </div>
         </div>
         }

         
      </div>
   </div>
</main>