.title {
   font-size: 26px;
   // margin-bottom: 20px;
}

.edit {
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #193c72;
   }
}

.edit-button {
   background-color: #315FA5;
   padding: 8px 20px;
   color: white;
   border-radius: 4px;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #193c72;
   }
}

.confirm-button {
   margin-left: 20px;
   background-color: rgb(30, 184, 30);
   padding: 8px 20px;
   color: white;
   border-radius: 4px;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: green;
   }
}

.finished {
   background-color: #d21;
   height: 100%;
   padding: 5px 10px;
   color: #fff;
   font-weight: bold;
   border-radius: 999px;
   font-size: 12px;
}

.working {
   background-color: #ffed65;
   height: 100%;
   padding: 5px 10px;
   color: #000;
   font-weight: bold;
   border-radius: 999px;
   font-size: 12px;
}