.title {
   font-size: 26px;
   // margin-bottom: 20px;
}

.edit {
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #193c72;
   }
}

.name {
   font-size: 20px;
   font-weight: bold;
}

// .city {
//    margin-left: 20px;
// }

.edit-button {
   background-color: #315FA5;
   padding: 8px 20px;
   color: white;
   border-radius: 4px;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #193c72;
   }
}

.confirm-button {
   margin-left: 20px;
   background-color: rgb(30, 184, 30);
   padding: 8px 20px;
   color: white;
   border-radius: 4px;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: green;
   }
}