<div class="container mx-auto px-8 py-6">
   @if(user.email == myUser.email) {
   <h1 class="title mb-5">Meu Perfil</h1>
   } @else {
   <h1 class="title mb-5">Visualizar Perfil - {{user.name}}</h1>
   }
   <div class="grid grid-cols-12">
      @if(!edit) {
      <div class="col-span-2 mx-auto">
         <img class="w-[144px] h-[144px] rounded-full border-[1.5px] border-gray-300"
            [src]="myUser.image_url || user.image_url || '/assets/img/avatar_default.svg'" alt="">
      </div>
      <div class="col-span-10">
         <h1 class="name">Nome: <span class="font-[300]">{{user.name}}</span></h1>
         <h2><strong>Cargo: </strong>{{user.role}}</h2>
         <h2 class="city"><strong>Cidade e Estado: </strong>{{user?.city?.name || 'Sem Cidade Cadastrada'}} -
            {{user?.city?.state?.uf
            || 'Sem Estado Cadastrado'}}</h2>
         <h2><strong>Propostas Cadastradas - </strong>{{user?.proposal?.lenght || '0'}}</h2>
         @if(user.type == 2) {
         <h2><strong>Partido - </strong>{{user?.party?.name}}</h2>
         }
         @if(user.email == myUser.email) {
         <button class="edit-button" (click)="edit = !edit">Editar</button>
         }
      </div>
      } @else {
      <div class="col-span-2 mx-auto">
         <div class="image-box w-[144px] h-[144px] relative">
            <img class="w-[144px] h-[144px] rounded-full border-[1.5px] border-gray-300"
               [src]="imageUrl || '/assets/img/avatar_default.svg'" alt="">
            <div class="icon absolute bottom-0 right-0" (click)="fileInput.click()">
               <div
                  class="edit w-[48px] h-[48px] flex justify-center items-center bg-[#315FA5] rounded-full cursor-pointer">
                  <input type="file" (change)="onFileSelected($event)" class="hidden" #fileInput>
                  <mat-icon class="text-white">edit</mat-icon>
               </div>
            </div>
         </div>
      </div>
      <div class="col-span-10" [formGroup]="form">
         <div class="grid grid-cols-12 gap-2">

            <div class="w-full col-span-4">
               <mat-label>Estado</mat-label>
               <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
                  <mat-select [(ngModel)]="selectedStateId" placeholder="Selecione um estado"
                     (selectionChange)="onStateChange()" [ngModelOptions]="{standalone: true}">
                     @for(state of states; track state){
                     <mat-option [value]="state.id">{{state.name}} - {{state.uf}}</mat-option>
                     }
                  </mat-select>
               </mat-form-field>
            </div>
            <div class="w-full col-span-8">
               <mat-label>Cidade</mat-label>
               <mat-form-field appearance="outline" class="w-full shadow-sm rounded bg-white">
                  <mat-select placeholder="Selecione um cidade" [disabled]="selectedStateId == null"
                     formControlName="city_id">
                     @for(city of cities; track city){
                     <mat-option [value]="city.id">{{city.name}}</mat-option>
                     }
                  </mat-select>
               </mat-form-field>
            </div>
            <div class="col-span-4">
               <button class="edit-button" (click)="edit = !edit">Cancelar</button>
               <button class="confirm-button" (click)="save()">Confirmar</button>
            </div>
         </div>
      </div>
      }
   </div>
   <div class="promisses mt-[48px]">
      <div class="section-header flex justify-between">
         <h1 class="text-[20px]">Propostas</h1>
         @if(user.email == myUser.email && myUser.type == 2 || 5) {
         <button class="mr-7" aria-label="Adicionar proposta" matTooltip="Adicionar proposta"
            (click)="openDialog(this.user)">
            <mat-icon>add</mat-icon>
         </button>
         }
      </div>
      <mat-divider style="margin-top: 4px; margin-bottom: 8px;"></mat-divider>
      @for (proposal of proposals; track proposal) {
         <div class="promise">
            <div class="p-4">
               <div class="flex items-start">
                  <img [src]="proposal.image_url || 'https://via.placeholder.com/96'" alt="Post Image" class="w-24 h-24 rounded-lg mr-4">
                  <div class="flex flex-col gap-2">
                     <div class="flex flex-col">
                        <div class="promise-title">
                           <p class="text-[18px] font-[600]">{{proposal.title}}
                           </p>
                        </div>
                        <div class="promise-area">
                           <p class="text-[16px] font-[500]">Área: {{proposal.areas.name}}</p>
                        </div>
                     </div>
                     <p class="text-sm text-gray-800 mb-4">
                        A proposta "Fundo Social: Fortalecendo Comunidades e Investindo em Futuro Sustentável" visa criar
                        um fundo dedicado ao desenvolvimento social, com foco em educação, saúde e infraestrutura
                        comunitária. A iniciativa busca promover a inclusão social e o crescimento sustentável em áreas
                        carentes.
                     </p>
                  </div>
               </div>
               <div class="flex justify-between items-center border-b pb-2">
                  <div class="flex items-center space-x-2">
                     <div>
                        <span class="text-sm text-gray-500">422 aprovados</span>
                     </div>
                     <small class="text-gray-500">•</small>
                     <div>
                        <span class="text-sm text-gray-500">18 desaprovados</span>
                     </div>
                  </div>
                  <div class="text-sm text-gray-500">
                     322 comentários
                  </div>
               </div>
            </div>
         </div>
      }
      <div class="text-center">
         <button mat-button routerLink="/proposals">Visualizar todas as propostas</button>
      </div>
   </div>
</div>