<div style="display: flex; justify-content: space-between; align-items: center; max-width: 100%;">
   <h1 mat-dialog-title
      style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: calc(100% - 48px);">{{data?.title}}
   </h1>
   <mat-icon mat-dialog-close style="cursor: pointer; margin-right: 24px; flex-shrink: 0;">close</mat-icon>
</div>
<mat-dialog-content>
   <div class="flex gap-2 items-center pb-1 sm:hidden">
      <img [src]="data.users.image_url"
         class="w-[54px] h-[54px] rounded-full border-[1.5px] border-gray-300 object-cover" alt="">
      <div>
         <h1 class="font-[500] text-black m-0">{{data?.users?.name}}</h1>
         <h2 class="text-[14px]">{{data?.users?.role}} | {{data?.users?.party?.acronym}}</h2>
      </div>
   </div>
   <div class="grid grid-cols-12 gap-4 mt-3 md:mt-0">
      <img [src]="data.image_url"
         class="col-span-12 lg:col-span-6 w-[480px] h-[480px] object-cover object-center rounded-md border-[0.3px] border-gray-300"
         alt="Imagem da Proposta">
      <div class="col-span-12 lg:col-span-6 flex flex-col justify-between">
         <div class="flex flex-col gap-3">
            <div class="hidden sm:flex gap-2 items-center pb-1">
               <img [src]="data.users.image_url"
                  class="w-[54px] h-[54px] rounded-full border-[1.5px] border-gray-300 object-cover" alt="">
               <div>
                  <h1 class="font-bold text-black m-0">{{data?.users?.name}}</h1>
                  <h2 class="text-[14px]">{{data?.users?.role}} | {{data?.users?.party?.acronym}}</h2>
               </div>
            </div>
            <p class="description">{{ data?.description }}</p>
         </div>
         <div class="actions">
            <div class="flex gap-5">
               <button type="button" class="flex items-center gap-2" (click)="toogleLike('like')"
                  [ngClass]="{'text-blue-500': like?.type === 'like'}">
                  <mat-icon fontSet="material-icons-outlined">thumb_up</mat-icon>
                  Gostei
               </button>
               <button type="button" class="flex items-center gap-2" (click)="toogleLike('dislike')"
                  [ngClass]="{'text-red-500': like?.type === 'dislike'}">
                  <mat-icon fontSet="material-icons-outlined">thumb_down</mat-icon>
                  Não gostei
               </button>
            </div>
            <button type="button" class="flex items-center gap-2" (click)="displayComments = !displayComments">
               <mat-icon>chat</mat-icon>
               Comentários
            </button>
         </div>
      </div>

      <div *ngIf="displayComments" class="col-span-12 comments flex flex-col gap-3 mt-3">
         <h2 class="font-[500] mb-2">Comentários</h2>
         @if (comments.length == 0) {
         <p class="text-center text-[#8e8e8e]">Não há comentários para esta proposta.</p>
         }
         @for (comment of comments; track comment) {
         <div class="comment flex items-start space-x-2">
            <div class="profile-picture w-[44px] flex-shrink-0">
               @if (comment?.user?.image_url === 'http://127.0.0.1:8000/null') {
               <img src="/assets/img/avatar_default.svg"
                  class="w-[44px] h-[44px] rounded-full object-cover object-center" alt="Foto do Usuário">
               }
               @if (comment?.user?.image_url !== 'http://127.0.0.1:8000/null') {
               <img [src]="comment?.user?.image_url" class="w-[44px] h-[44px] rounded-full object-cover object-center"
                  alt="Foto do Usuário">
               }
            </div>
            <div class="text">
               <div>
                  <div class="user font-[500]">{{ comment?.user?.name }}</div>
               </div>
               <div class="flex flex-col justify-center">
                  <div class="message text-[14px]">
                     {{ comment?.description }}
                  </div>
                  <div class="time text-[12px] text-[#a0a0a0]">{{ comment?.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
               </div>
            </div>
         </div>
         }
         <div class="mb-[60px]"></div>

         <!-- Barra de comentário fixa ao final da seção de comentários -->
         <div
            class="absolute bottom-0 left-0 right-0 px-6 py-3 bg-white border-t border-gray-300 flex items-center space-x-2">
            @if (user?.image_url === 'http://127.0.0.1:8000/null') {
            <img src="/assets/img/avatar_default.svg" class="w-[44px] h-[44px] rounded-full object-cover"
               alt="Foto do Usuário">
            }
            @if (user?.image_url !== 'http://127.0.0.1:8000/null') {
            <img [src]="user?.image_url" class="w-[44px] h-[44px] rounded-full object-cover" alt="Foto do Usuário">
            }
            <textarea placeholder="Escreva um comentário..."
               class="flex-grow border border-gray-300 rounded-md px-3 py-2 h-[56px] resize-none outline-none text-[16px]"
               [(ngModel)]="commentary"></textarea>
            <button class="w-[24px] h-[24px] transition-all hover:text-[#171717]" aria-label="Adicionar comentarário"
               (click)="sendComment(commentary)">
               <mat-icon>send</mat-icon>
            </button>
         </div>
      </div>
   </div>
</mat-dialog-content>