.actions {
    display: flex;
    // gap: 24px;
    justify-content: space-between;
    margin-top: 16px;

    button {
        font-size: 14px;
        transition: .15s all;

        mat-icon {
            width: 20px !important;
            height: 20px !important;
            font-size: 20px !important;
        }

        &:hover {
            color: #171717;
        }
    }
}

.proposal-date {

    strong,
    p {
        font-size: 14px;
    }
}